@font-face {
    font-family: Montserrat-Regular;
    src: url('../../assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../../assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url('../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('../../assets/fonts/Montserrat/Montserrat-Medium.ttf');
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
p, button{
    font-family: 'Montserrat', sans-serif;
}
.onboarding-page {
    overflow-y: hidden;
    height: 100vh;
    position: relative;
    z-index: 1;
    background:linear-gradient(160deg,rgba(0,0,0,0.7) 50%,rgba(0,0,0,0.1)),url(../../assets/images/bg.jpg);
    background-size:cover;
    background-position: center;
}
.advertisers-page {
    overflow: hidden;
    height: 100vh;
    position: relative;
    z-index: 1;
    /*background: linear-gradient(55deg, rgba(7, 10, 20, 0.99) 48%, rgba(9, 10, 13, 0.8));*/
    background:linear-gradient(90deg,rgba(0,0,0,0.98) 45%,rgba(0,0,0,0.1)),url(../../assets/images/banner.jpg);
    background-size:cover;
    background-position: center;
}
.nav-b{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.logo img{
    width: 120px;
}
.logo2{
    padding: 2rem 0;
}
.logo2 img{
    width: 120px;
}
.nav-tabs,.form-input,select,textarea,button,.form-control,.input-field:focus,.input-field:active {
    outline:0px !important;
    -webkit-appearance:none!important;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none !important;
}
button:hover{
    cursor: pointer;
}
.signin-btn{
    background: #0072bc;
    border: 2px solid #0072bc;
    border-radius: 25px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
    letter-spacing: 0;
    padding: 8px 2.5rem;
    margin-left: 1em;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}
.moovemart {
    background: transparent;
    border: 2px solid #c7c7c7;
    border-radius: 25px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
    letter-spacing: 0;
    padding: 8px 2.5rem;
    margin-right: 1em;
    animation-duration: 2.5s;
}
.moovemart:hover {
    border: 2px solid #fff;
    background: transparent;
}
.signin-btn:hover {
    background: #ffffff;
    color: #0072bc;
    border: 2px solid #fff;
}
.head-section{
    height: 100vh;
}
.moove-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 85vh;
}
.head-text{
    /*padding-top: 21%*/
}
.head-text h1{
    font-family: Montserrat-Bold;
    font-size: 50px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    text-shadow: 3px 3px 16px #000;
    line-height: 50px;
}
.head-text p{
    font-family: Montserrat-Medium;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 40px;
    padding-top: 15px;
}
.get-started{
    display: flex;
    justify-content: center;
    padding-top: 10px;

}
.get-started-btn{
    background: #0072bc;
    border-radius: 30px;
    border: 1px solid #0072bc;
    font-family: Montserrat-Medium;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding: 10px 3em;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}
.get-started-btn:hover {
    background: transparent;
    color: #0072bc;
    border: 1px solid #0072bc;
}
.try-btn{
    background: transparent;
    border-radius: 30px;
    border: 1px solid #ffffff;
    font-family: Montserrat-Medium;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding: 10px 2.35em;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}
.try-btn:hover {
    background: #0072bc;
    color: #ffffff;
    border: 1px solid #0072bc;
}

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
}
@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.nav2{
    display: flex;
    justify-content: space-between;
}
.angledown{
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}
.home_icons:hover{
    color: #0072bc;
}
.download-btn{
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    background-color: #FFFFFF;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
    padding: 10px 20px;
    font-size: 15px;
    font-family: Montserrat-Regular;
    color: #0072bc;
    font-weight: 600;
    /*height: 50px;*/
    margin-top: 1em;
    margin-right: 1em;
    margin-left: 2em;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
}
.download-btn:hover {
    background: transparent;
    color: #0072bc;
    border: 1px solid #0072bc;
}

.download-btn2{
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    background-color: #FFFFFF;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
    padding: 10px 20px;
    font-size: 15px;
    font-family: Montserrat-Regular;
    color: #0072bc;
    font-weight: 600;
    height: 44px;
    margin-top: 2em;
    margin-right: 1em;
    margin-left: 2em;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
}
.download-btn2:hover {
    background: transparent;
    color: #0072bc;
    border: 1px solid #0072bc;
}

.icons{
    /*padding-top: 18%;*/
    display: flex;
    justify-content: center;
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
}
.fontawesom{
    font-size: 40px;
    text-align: center;
}
.icons p{
    padding-top: 5px;
    font-family: Montserrat-Regular;
}
.left-nav{
    height: 100vh;
    background-color: #1a1a1a;
    /*padding: 1em;*/
}
.right-nav{
    height: 100vh;
}
.tab{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tab .active{
    transition: .1s ease-in-out all;
    /*background-color: #0072bc;*/
    border-left: 4px solid #0072bc;
    /*transform: scale(1.1);*/
}
.tab .active .fontawesom{
    font-size: 40px;
}
.tablinks{
    height: 22.4vh;
    background-color: #1a1a1a;
    border: none;
    color: #FFFFFF;
    text-align: center;
    /*border-bottom: 1px solid #666;*/
}

.fontawesom{
    font-size: 33px;
    text-align: center;
}
.fontawesom:focus{
    font-size: 40px;
    text-align: center;
    /*transform: scale(1.1);*/
}
.tablinks:hover {
    color: #0072bc;
}
.tablinks p{
    font-size: 11px;
    padding: 5px;
    font-family: Montserrat-Regular;
}
#advertisers, #drivers, #partners{
    height: 100vh;
    width: 100%;
}
.advertisers-text{
    transition: .2s ease-in-out all;
    padding-top: 16%;
    width: 50%;
}
.advertisers-text h1{
    font-family: Montserrat-Medium;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding-bottom: 30px;
}
.advertisers-text p{
    opacity: 0.8;
    font-family: Montserrat-Regular;
    font-size: 20px;
    color: #E8E8E8;
    letter-spacing: 0;
    padding-bottom: 30px;
}

.advertisers-text2{
    transition: .2s ease-in-out all;
    padding-top: 6%;
    width: 100%;
}
.advertisers-text2 h1{
    font-family: Montserrat-Medium;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding-bottom: 30px;
}
.advertisers-text2 p{
    opacity: 0.8;
    font-family: Montserrat-Regular;
    font-size: 20px;
    color: #E8E8E8;
    letter-spacing: 0;
    padding-bottom: 30px;
}

.modal-content{
    padding: 1em;
    border-radius: 10px;
}
.close {
    color: #000000;
    padding: 10px 15px !important;
    border: 1px solid #ffffff;
    background-color: #ffffff !important;
    border-radius: 50%;
    margin-top: -1.9em;
    margin-right: -2.3em;
}
.modal-dialog {
    max-width: 350px !important;
    margin: 7.75rem auto !important;
}
.ad-icon{
    width: 7em;
    padding-bottom: 2px;
}
.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.5rem 1rem;
}
.moove-modal-text{
    color: #000;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    font-family: Montserrat-Regular;
}
.flag{
    background-color: #9D9D9D;
    margin-right: 10px;
    padding: 7px;
    border-radius: 8px;
}
.form-input{
    width: 100%;
    color: #FFFFFF;
    border: 1px solid #9D9D9D;
    background-color: #9D9D9D;
    border-radius: 8px;
    font-size: 16px;
    padding: 7px;
    opacity: 0.9;
    font-family: Montserrat-Regular;
}
.form-input::placeholder{
    color: #fff;
}
.btn-continue{
    width: 100%;
    color: #fff;
    background: linear-gradient(55deg, rgba(33,150,243,1), rgba(33,150,283,0.6));
    /*background: linear-gradient(55deg, rgba(33.150,243,1), rgba(33.150,283,1));*/
    /*background-color: #2196F3;*/
    border: none;
    border-radius: 8px;
    padding: 7px;
    font-size: 15px;
    font-family: Montserrat-Regular;
}
.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 0.5rem 0.5rem;
}

/*.modal {*/
    /*display: none;*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background: rgba(0, 0, 0, 0.7);*/
    /*z-index: 1;*/
/*}*/

/*.modal.on {*/
    /*display: block;*/

/*}*/

/*.modal-container {*/
    /*position: relative;*/
    /*display: block;*/
    /*top: 10%;*/
    /*width: 365px;*/
    /*margin: 0 auto;*/
    /*animation-name: bounceIn;*/
    /*animation-duration: 1s;*/
    /*animation-fill-mode: both;*/
/*}*/

/*.modal-container .modal-header {*/
    /*position: relative;*/
    /*display: block;*/
    /*color:#ffffff;*/
/*}*/

/*.modal-container .modal-header .modal-title {*/
    /*font-family: 'Roboto', sans-serif;*/
    /*font-size: 30px;*/
    /*line-height: 1.2;*/
    /*color: #fff;*/
    /*font-weight: bold;*/
    /*text-align: center;*/
    /*padding: 20px 0;*/
/*}*/

/*.modal-container .modal-header span.close {*/
    /*position: absolute;*/
    /*display: block;*/
    /*width: 52px;*/
    /*height: 52px;*/
    /*top: 0px;*/
    /*right: 0px;*/
    /*cursor: pointer;*/
/*}*/

/*.modal-container .modal-content {*/
    /*position: relative;*/
    /*display: block;*/
    /*background-color: #ffffff;*/
    /*overflow-y: auto;*/
    /*height: 100%;*/
/*}*/
/*@keyframes bounceIn {*/
    /*from, 20%, 40%, 60%, 80%, to {*/
        /*animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);*/
    /*}*/

    /*0% {*/
        /*opacity: 0;*/
        /*transform: scale3d(.3, .3, .3);*/
    /*}*/

    /*20% {*/
        /*transform: scale3d(1.1, 1.1, 1.1);*/
    /*}*/

    /*40% {*/
        /*transform: scale3d(.9, .9, .9);*/
    /*}*/

    /*60% {*/
        /*opacity: 1;*/
        /*transform: scale3d(1.03, 1.03, 1.03);*/
    /*}*/

    /*80% {*/
        /*transform: scale3d(.97, .97, .97);*/
    /*}*/

    /*to {*/
        /*opacity: 1;*/
        /*transform: scale3d(1, 1, 1);*/
    /*}*/
/*}*/

.recent_updates{
    display: flex;
    overflow-y: overlay;
    scroll-behavior: smooth;
    padding: 1em 2rem;
    margin-bottom: 2em;
}
::-webkit-scrollbar{
    display: none;
}
.topic{
    padding-left: 2rem;
}
.topic h3{
    font-size: 1.35em;
}
.img1{
    padding-right: 10px;
}
.img1 img{
    width: 200px;
    height: 220px;
}
.browse-btn{
    background: transparent;
    border-radius: 30px;
    border: 2px solid #ffffff;
    font-family: Montserrat-Medium;
    font-size: 15px;
    color: #ffffff;
    letter-spacing: 0;
    padding: 10px 3em;
   transition: all .35s ease-in-out;
    transform-origin: bottom;
}
.browse-btn:hover {
    background: #ffffff;
    color: #000000;
}
.updates-text h2{
    font-family: Montserrat-Medium;
    font-size: 36px;
    font-weight: 700;
    color: #000000;
    letter-spacing: 0;
    padding-bottom: 10px;
}
.updates-text p{
    font-family: Montserrat-Regular;
    font-size: 1.2em;
    letter-spacing: 0;
    padding: 0 15%;
}
.bg-black{
    background-color: #000000;
}
.bg-black .updates-text h2 {
    color: #ffffff;
}
.bg-black .updates-text p {
    color: #ffffff;
}
.bg-black .topic h3 {
    color: #ffffff;
}
.bg_grey{
    background-color: #f5f5f5;
    color: #000000;
}
.bg_grey .advertisers-text2 h1{
    color: #000000;
}
.bg_grey .advertisers-text2 p{
    color: #000000;
}
.b-tabs{
    /*width: 33vw;*/
}
.nav-tabs .nav-item {
    margin-bottom: -1px;
    width: 18vw;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #000000;
    background-color: transparent;
    border-bottom: 4px solid #0072bc !important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border-color: transparent;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: #000000;
    font-size: 15px;
}
.nav-tabs .nav-link:hover {
    border: none;
    color: #0072bc;
    border-bottom: 4px solid #0072bc;
}
.nav-tabs {
    /* border-bottom: 1px solid #dee2e6; */
}
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 2rem 0;
}
.footer{
    border-top: 1px solid #222;
    padding: 1.5em 2em;
}
.foot{
    display: flex;
    justify-content: space-between;
}
.social_icon{
    display: flex;
}
.fb{
    width: 40px;
    height: 40px;
    padding: 11px;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    background-color: #0072bc;
    border-radius: 50%;
    opacity: 0.9;
    margin-right: 1em;
    cursor: pointer;
}
.fb:hover{
    opacity: 1;
}
.social{
    font-size: 18px;
}
.link-tab{
    display: flex;
}
.links{
     padding: 6px 8px;
     text-decoration: none;
     color: #000000;
    font-size: 14px;
     opacity: 0.9;
     cursor: pointer;
 }
.links:hover{
    text-decoration: none;
    color: #0072bc;
    opacity: 1;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.download-app-icon{
    display: flex;
}
.apple-img{
    padding: 0 10px;
    cursor: pointer;
}
.apple-img img{
    width: 150px;
    height: 50px;
    border-radius: 10px;
}